<li>
<a href="#"><%= listitem.name %></a>
<span class="span_hidden"><%= listitem.site %></span>
<span class="span_hidden"><%= listitem.info %></span>
<span class="span_hidden"><%= listitem.site %></span>
</li>