<%- include ../public/header.ejs %>
<script src="/js/allactionforGwd.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function(){
    $('#submit_msg').click(function(){
        var content=$('#sidebar_txt').val();
        if(content==""){
            alert('内容不能为空!');
            return false;
        }
        $.ajax({
            async: false,
            url:"{:U('Feedback/submitFeedback')}",
            type:'post',
            data:{'content':content},
            success:function(data){
                var msg = $.parseJSON(data);
                if(msg.status==1){
                    alert("您的建议发布成功，我们会努力改进！");
                }
                $('#sidebar_txt').val("");
            }           
        });
    });

    $('#login-submit').click(function(){
        var studentNumber=$('[name="studentNumber"]').val();
        var password=$('[name="password"]').val();
        checkPassword(studentNumber, password);
        return false;
    });
    
    
});

function debug(msg){
    console.log(msg);
}

function checkPassword(studentNumber,password){
    $.ajax({
        url:"http://192.168.233.21/Gwtxz/index.php/Api/checkLogin",
        type:'post',
        data:{'studentNumber':studentNumber,'password':password,'submitted':'submitted'},
        dataType:'jsonp',
        jsonp: 'jsonp',
        success:function(msg){
            debug(msg);

            $('#login-form input.hidden-user').remove();
            if(msg.status == 1){
                var data = msg.data;
                var fragment = document.createDocumentFragment();

                for(var key in data){
                    if (key == 'studentNumber' || key == 'password') {
                        continue;
                    };
                    var value = data[key];
                    var form = [{key:key, value:value}];
                    var tpl = replaceTpl('<input class="hidden-user" type="hidden" name="{key}" value="{value}" />',  form);
                    var input = $(tpl);
                    fragment.appendChild(input[0]);
                }
                $('#login-form').append(fragment);
                $('#login-form').submit();
            }else{
                alert(msg.info);
            }
        }           
    });
}

</script>

<!-- 控制顶部样式 -->
<script type="text/javascript">
$(document).ready(function() {
    $('#top_list').mouseenter(function(){
        $(this).css({height:'auto'});
        var top = $(this).find('li:first');
        var studentNumber = top.find('a');
        var li_close = top.attr('class');
        var ul_close = studentNumber.attr('class');
        // top.removeClass(li_close);
        // studentNumber.removeClass(ul_close);
        // top.next('li').addClass(li_close);
        // alert(top.next().length);
    }).mouseleave(function(){

        $(this).css({height:'40px'});
    });
});
</script>
<div class="includeall" id="includeall">
	<div class="wrapper_outer">
        <div class="wrapper">
            <div class="wrapper_logo">
                <a href="#">
                    <span class="wrapper_logo_txt">广外导航</span>
                    <span>The Navigation Of GDUFS</span>
                </a>
            </div>
            <!--  
            <div class="wrapper_logo">
                <a href="#">广外导航</a>
            </div>
            -->
           <div class="wrapper_private">
                <a href="{:U('Accounts/index')}">个人中心</a>
            </div>
        
            <div class="wrapper_login wrapper_upper">
                <ul>
                   <if condition="!isLogged()">
                        <li class="wrapper_li_border wrapper_li_border1"><a id="loginbtn" href="#">登录</a></li>
                   <else/>
                        <li class="upper_list upper_list1">
                            <ul id="top_list" style="height:40px;border:none;"><!-- 把ul里面的样式去掉，然后把li_close和ul_close去掉就能显示列表了 -->
                                <li class="li_close">
                                    <a class="ul_close" href="#">{$Think.session.account.studentNumber}</a></li>
                                <li>
                                    <!-- <a class="a_onselect" href="">个人设置</a> -->
                                    <a href="">个人设置</a>
                                </li>
                                <li><a href="{:U('Accounts/logout')}">注销</a></li>
                            </ul>
                        </li>
                        <li class="wrapper_li_border wrapper_li_border1"><a href="{:U('Accounts/index')}">进入个人中心</a></li>
                    </if>
                </ul>     
            </div>
        

        
            
        </div>
    </div>
    <div class="content_outer">
        <div class="sidebar_left">
            <div class="sidebar_container">
                <div class="sidebar_hot" id="sidebar_hot">
                    <p>最近最火网站</p>
                    <a href="http://guide.mygdufs.com/" target="_blank">新生指南</a>
                    <a href="http://xk.gdufs.edu.cn/" target="_blank" class="sidebar_hot_bottom">选课系统</a>
                </div>
            </div>
            <div class="sidebar_container">
                <a class="sidebar_gmain" href="http://auth.gdufs.edu.cn/wps/portal/newhome/" target="_blank"><span>数字广外</span></a>
                <a class="sidebar_gps" href="http://strs.gdufs.edu.cn/WEB/" target="_blank"><span>卫星电视系统</span></a>
            </div>
            <div class="sidebar_container">
                <a class="sidebar_news" href="http://news.gdufs.edu.cn/" target="_blank"><span>广外新闻网</span></a>
                <a class="sidebar_lib" href="http://lib.gdufs.edu.cn/index.php" target="_blank"><span>广外图书馆</span></a>
            </div>
            <div class="sidebar_container">
                <a class="sidebar_special" href="http://guide.mygdufs.com/" target="_blank"><span class="sidebar_cspan1">特别推荐</span><span class="sidebar_cspan2">新生指南</span></a>
            </div>
            <div id="movediv1" class="sidebar_container sidebar_container_share">
                <div class="sidebar_share">
                	<div class="sidebar_share1">期待您能分享<br />更好的想法和更好的网站...</div>
                </div>
                <div id="movediv2" class="sidebar_share sidebar_share2">
                    <div class="sidebar_share_tdiv">
                        <textarea id="sidebar_txt"></textarea>
                    </div>
                    <a href="#" id="submit_msg">发表建议</a>
                </div>
            </div>
            <div class="cl"></div>
        </div>
        <div class="content_right">
            <div class="search_div">
            <form id="baidu_form" action="http://www.baidu.com/s" method="get">
                <input id="search_input" type="text" name="wd" class="search_input" value="百度搜索" />
                <span id="test1"></span>
                <a class="search_btn2" id="baidu_search_btn" href="#" onclick="baidusearch()">百度一下</a>
              </form>
            </div>
            <div class="devides_div">
                <div><a class="content_entertain2" id="firstchange" href="#">学习生活娱乐</a></div>
                <div><a class="content_stuunion1" id="secondchange" href="#">学生社团</a></div>
                <div><a class="content_flag1" id="thirdchange" href="#">校内设施</a></div>
            </div>
            <div class="content_main" id="content_main">
                <div class="content_unit" id="learnclass" style="display:block">
                    <div class="content_unit_head">
                        <p>学习</p>
                    </div>
                    <div class="website_div website_learning">
                        <div class="website_div2" id="learnclass1">
                            <ul>
                                <% list[10].forEach(function(listitem){ %>
                                    <% include ../tpl/home_site %>
                                <% }) %>
                            </ul>
                        </div>
                        <div class="website_div3">
                            <a href="#" class="lastpage_btn">上一页</a>
                            <a href="#" class="nextpage_btn">下一页</a>
                        </div>
                    </div>
                    <div class="cl"></div>
                </div>
                <div class="content_unit" id="lifeclass" style="display:block">
                    <div class="content_unit_head">
                        <p>生活</p>
                    </div>
                    <div class="website_div website_learning">
                        <div class="website_div2" id="lifeclass1">
                            <ul>
                               <% list[2].forEach(function(listitem){ %>
                                    <% include ../tpl/home_site %>
                                <% }) %>
                            </ul>
                        </div>
                        <div class="website_div3">
                            <a href="#" class="lastpage_btn">上一页</a>
                            <a href="#" class="nextpage_btn">下一页</a>
                        </div>
                    </div>
                    <div class="cl"></div>
                </div>
                <div class="content_unit" id="entertainclass" style="display:block">
                    <div class="content_unit_head">
                        <p>娱乐</p>
                    </div>
                    <div class="website_div website_learning">
                        <div class="website_div2" id="entertainclass1">
                           <ul>
                               <% list[1].forEach(function(listitem){ %>
                                    <% include ../tpl/home_site %>
                                <% }) %>
                            </ul>
                        </div>
                        <div class="website_div3">
                            <a href="#" class="lastpage_btn">上一页</a>
                            <a href="#" class="nextpage_btn">下一页</a>
                        </div>
                    </div>
                    <div class="cl"></div>
                </div>
                <div class="content_unit" id="partyclass" style="display:none">
                    <div class="content_unit_head">
                        <p>团学党建</p>
                    </div>
                    <div class="website_div">
                        <div class="website_div2" id="partyclass1">
                           <ul>
                                <% list[4].forEach(function(listitem){ %>
                                    <% include ../tpl/home_site_club %>
                                <% }) %>
                                
                            </ul>
                        </div>
                        <div class="website_div3">
                            <a href="#" class="lastpage_btn">上一页</a>
                            <a href="#" class="nextpage_btn">下一页</a>
                        </div>
                    </div>
                    <div class="cl"></div>
                </div>
                <div class="content_unit" id="workclass" style="display:none">
                    <div class="content_unit_head">
                        <p>勤工实体</p>
                    </div>
                    <div class="website_div">
                        <div class="website_div2" id="workclass1">
                            <ul>
                                <% list[17].forEach(function(listitem){ %>
                                    <% include ../tpl/home_site_club %>
                                <% }) %>
                            </ul>
                        </div>
                        <div class="website_div3">
                            <a href="#" class="lastpage_btn">上一页</a>
                            <a href="#" class="nextpage_btn">下一页</a>
                        </div>
                    </div>
                    <div class="cl"></div>
                </div>
                <div class="content_unit" id="unionclass" style="display:none">
                    <div class="content_unit_head">
                        <p>团联组织</p>
                    </div>
                    <div class="website_div">
                        <div class="website_div2" id="unionclass1">
                           <ul>
                                <% list[5].forEach(function(listitem){ %>
                                    <% include ../tpl/home_site_club %>
                                <% }) %>
                            </ul>
                        </div>
                        <div class="website_div3">
                            <a href="#" class="lastpage_btn">上一页</a>
                            <a href="#" class="nextpage_btn">下一页</a>
                        </div>
                    </div>
                    <div class="cl"></div>
                </div>
                <div id="specialclass" class="content_unit" style="display:none">
                    <div class="content_unit_head">
                        <p>特色组织</p>
                    </div>
                    <div class="website_div">
                        <div class="website_div2" id="specialclass1">
                            <ul>
                                <% list[3].forEach(function(listitem){ %>
                                    <% include ../tpl/home_site_club %>
                                <% }) %>
                            </ul>
                        </div>
                        <div class="website_div3">
                            <a href="#" class="lastpage_btn">上一页</a>
                            <a href="#" class="nextpage_btn">下一页</a>
                        </div>
                    </div>
                    <div class="cl"></div>
                </div>
                <div class="content_unit" id="educlass" style="display:none">
                    <div class="content_unit_head">
                        <p>教学单位</p>
                    </div>
                    <div class="website_div website_learning">
                        <div class="website_div2" id="educlass1">
                             <ul>
                                <% list[6].forEach(function(listitem){ %>
                                    <% include ../tpl/home_site %>
                                <% }) %>
                            </ul>
                         </div>
                        <div class="website_div3">
                            <a href="#" class="lastpage_btn">上一页</a>
                            <a href="#" class="nextpage_btn">下一页</a>
                        </div>
                    </div>
                    <div class="cl"></div>
                </div>
                <div class="content_unit" id="searchclass" style="display:none">
                    <div class="content_unit_head">
                        <p>科研单位</p>
                    </div>
                    <div class="website_div website_learning">
                        <div class="website_div2" id="searchclass1">
                            <ul>
                                <% list[9].forEach(function(listitem){ %>
                                    <% include ../tpl/home_site %>
                                <% }) %>
                            </ul>
                        </div>
                        <div class="website_div3">
                            <a href="#" class="lastpage_btn">上一页</a>
                            <a href="#" class="nextpage_btn">下一页</a>
                        </div>
                    </div>
                    <div class="cl"></div>
                </div>
                <div class="content_unit" id="shitclass" style="display:none">
                    <div class="content_unit_head">
                        <p>政党机关</p>
                    </div>
                    <div class="website_div website_learning">
                        <div class="website_div2" id="shitclass1">
                            <ul>
                               <% list[8].forEach(function(listitem){ %>
                                    <% include ../tpl/home_site %>
                                <% }) %>
                            </ul>
                        </div>
                        <div class="website_div3">
                            <a href="#" class="lastpage_btn">上一页</a>
                            <a href="#" class="nextpage_btn">下一页</a>
                        </div>
                    </div>
                    <div class="cl"></div>
                </div>
            </div>
            <div class="cl"></div>
        </div>
        <div class="footer" id="footer">
        
            <ul>
                <li class="footer_li_1"><a href="http://www.quantacenter.org/">Copyright © 2013 Quanta（量子）信息技术服务中心</a></li>
            </ul>
             
        </div>
	</div>   
</div>
<div class="popup_div" id="popup_div1">
	<div class="popup_content">
        <a class="popup_a1" href="#">官方网址</a>
        <a class="popup_a2" href="#">新浪官方微博</a>
        <a class="popup_a3" href="#">官方博客</a>
    </div>
    <div class="popup_sharp">
    </div>
</div>
<div class="login_div" id="login_div" style="display:none">
    <div class="login_divhead"></div>
    <div class="login_divbody">
        <div class="login_adv">
            <img src="/images/adv_img.png">
        </div>
        <div class="login_form">
        <form id="login-form" action="/user/login" method="post">
            <div class="login_account">
                <input type="text" name="studentNumber" value="20111003632" />
            </div>
            <div class="login_password">
                <input type="password" name="password" />
            </div>
            <p>
                <input id="remenber_pwd" type="checkbox" name="autoLogin" checked="checked" />
                <label for="remenber_pwd">记住密码</label>
                <a href="http://passport.mygdufs.com/Account/find_psw_varify">忘记密码？</a>
            </p>
            <div class="login_getAc">
                <input type="submit" name="submitted" id="login-submit" value="登录" />
                <a href="http://passport.mygdufs.com/Account/register/appid/2">没账号？<span>马上注册！</span></a>
            </div>
        </form>
        </div>
    </div>
</div>



<%include ../public/footer.ejs %>
	