<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title><%=title %></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" href="/css/site.css">
<script type="text/javascript" src="/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="/js/onmousewheel.js"></script>
<script type="text/javascript" src="/js/jquery.dragsort-0.5.1.js"></script>
<script type="text/javascript" src="/js/pc_square.js"></script>
<script type="text/javascript" src="/js/pc_page.js"></script>
<script type="text/javascript" src="/js/pc_scroll.js"></script>
<script type="text/javascript" src="/js/scrollBar.js"></script>

<!--[if IE 6]>
<script type="text/javascript" src="/js/DD_belatedPNG_0.0.8a.js" ></script>
<script type="text/javascript">   DD_belatedPNG.fix('.sidebar_gmain, .sidebar_gps, .sidebar_news, .sidebar_lib, .sidebar_share');   </script>
<![endif]--> 

</head>
<body>